// Primary Variables for website_airproof
// This file must only contain definitions and overrides of SCSS variables and mixins.

// Font configurations - Define custom fonts here
// The Website Builder automatically makes them available in the font selector
$o-theme-font-configs: (
    // Example Google Font configuration
    'Space Grotesk':
        (
            'family': (
                'Space Grotesk',
                sans-serif,
            ),
            'url': 'Space+Grotesk:400,500,600,700',
            'properties': (
                'base': (
                    'font-size-base': 1rem,
                ),
            ),
        ),
    'Lato': (
        'family': (
            'Lato',
            sans-serif,
        ),
        'properties': (
            'base': (
                'font-size-base': 1rem,
            ),
        ),
    )
);

// Color palette definition
$o-color-palettes: map-merge($o-color-palettes,
    (
        'airproof': (
            'o-color-1': #CEF8A1,
            'o-color-2': #0B8EE6,
            'o-color-3': #BBE1FA,
            'o-color-4': #FFFFFF,
            'o-color-5': #000000,

            'o-cc1-btn-secondary': 'o-color-5',
            'o-cc1-link': 'o-color-5',
            'o-cc2-btn-primary': 'o-color-4',
            'o-cc2-h2': 'o-color-4',
            'o-cc3-btn-primary': 'o-color-5',
            'o-cc5-link': 'o-color-4',
            'o-cc5-h6': 'o-color-5',
        ),
    )
);

// Add the created palette to the list of palettes offered by the Website Builder
$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'airproof');

// Override Odoo's website values through the $o-website-values-palettes map
$o-website-values-palettes: (
    (
        // Templates
        'header-template': 'airproof',
        // 'footer-template': 'custom',

        // Color palette
        'color-palettes-name': 'airproof',

        // Fonts (use font names defined in $o-theme-font-configs)
        'font': 'Lato',
        'headings-font': 'Space Grotesk',
        'navbar-font': 'Lato',
        'buttons-font': 'Lato',



        // Buttons
        // Buttons
        'btn-border-radius': 10px,
        'link-underline': 'never',
        'btn-border-radius-sm': 10px,
        'btn-font-size-sm': 0.875rem,
        'btn-font-size-lg': 1.125rem,
        'btn-secondary-outline': true,

        // Layout & Spacing
        // 'border-radius': 0.375rem,
        // 'box-shadow': 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075),

        // Header
        'hamburger-position': 'center',
        'header-font-size': 0.875rem,
    ),
);

// Additional SCSS variables can be defined here
// $custom-variable: value;
