@font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    src: url("../../../fonts/Lato\ Font.woff") format("woff");
    src: url("../../../fonts/Lato\ font.woff2") format("woff2");
}
